# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle
# POSTGRES_URL="postgresql://postgres:password@localhost:5432/t3-gallery"

# vercel db
POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NO_SSL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# UploadThings
UPLOADTHING_SECRET=
UPLOADTHING_APP_ID=
